/Embeddings/
/Results/
/logs/
/.idea/
/layers/.idea/
__pycache__/
*/__pycache__/
*.pyc
*.pyo
*.pyd
*.pth
*.tmp
*.log
*.zip
.ipynb_checkpoints/
experiment_results*.csv
experiment_results_latest.json
/Aurora-main/
/FreqLLM-main/
/MegaCRN-main/
/model-version/
/T3
/train2
/layers/.gitignore
/layers/LICENSE
/layers/README.md
/layers/attachments/
/layers/data_provider/
/layers/dataset/
/layers/env_windows.yaml
/layers/experiment_results.csv
/layers/experiment_results_latest.json
/layers/few_shot_forecasting.ipynb
/layers/layers/
/layers/models/
/layers/scripts/
/layers/storage/
/layers/train.py
/layers/utils/
